.headLine {
    color: white;
    background-image: url("../img/cilek.jpg");
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px black;
}

.rate-yellow {
    color: var(--bs-yellow);
}

.rate > input {
    position: absolute;
    opacity: 0;
}